@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}


.virtual_agent {
  position: absolute;
  /* right: 50px; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
  border: 1px solid whitesmoke;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 16px -4px rgb(243 243 243 / 28%);
  -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  overflow-y: scroll;
}

.virtual_agent::-webkit-scrollbar {
  display: none;
}


.container {
  max-width: 1200px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .container {
  max-width: 1168px;
}

.navbar {
  padding: 12px 0;
  align-items: center;
}

.navbar-brand {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #6242B5;
}

.navbar-brand:hover {
  color: #6242B5;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px;
}

.header .header_buttons {
  display: flex;
  gap: 57px;
  align-items: center;
}

.header .header_buttons .dropdown .btn {
  background: #FFFFFF;
  border: 1px solid #35255C;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #35255C !important;
  width: 230px;

}

.dropdown-menu.show {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.dropdown-toggle::after {
  display: none !important;
}

.header .header_buttons .close_btn {
  background: #35255C;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
}

.conversation {
  position: relative;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.loading {
  border: 4px solid #f3f3f3ab;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  /* Starting rotation angle */
  100% {
    transform: rotate(360deg);
  }

  /* Ending rotation angle */
}

.sms_icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: floating 2s ease-in-out infinite;
  z-index: 2;
  cursor: pointer;

}

/* .answer a {
  color: whitesmoke;
}

.answer a:hover {
  color: white;
} */

.conversation .chatting {
  flex-grow: 1;
  overflow-y: scroll;
  overflow: hidden;
  /* height: 70vh; */
}

.conversation .chatting::-webkit-scrollbar {
  display: none;
}


.conversation .answer,
.conversation .question {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.conversation .answer {
  position: relative;
}

.conversation .answer .reaction {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.conversation .answer p {
  /* background-color: #2E475D; */
  border-radius: 8px 16px 16px 8px;
  padding: 18px 140px 18px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100%;
}

.conversation .answer>img {
  box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 45px;
}

.conversation .question p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #171717;
  background: #F5F5F5;
  border-radius: 16px;
  padding: 18px 42px;
  width: 100%;
}

.conversation .question img {
  background: #FFFFFF;
  padding: 9px;
  box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.conversation .input_field {
  position: sticky;
  bottom: 100px;
  background-color: white;
  bottom: 55px;
  padding: 30px 0;
}


.conversation .user_input {
  background: #EFEFEF;
  border-radius: 8px;
  width: 100%;
  padding: 15px 52px;
  position: relative;
}

.conversation .user_input textarea {
  border: none;
  background: #EFEFEF;
  max-height: 200px;
  height: 22px;
  overflow-y: hidden;
  resize: none;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


.conversation .user_input textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #ADADAD;
}


.conversation .user_input textarea:focus-visible {
  outline: none !important;
}

.conversation .user_input textarea::-webkit-scrollbar {
  display: none;
}

/* body::-webkit-scrollbar {
  display: none;
} */

.conversation .user_input button {
  height: 56px;
  width: 56px;
  background: #35255C;
  border-radius: 8px;
  border: none;
  position: absolute;
  bottom: 0;
}


.footer {
  background-color: white;
  padding-bottom: 17px;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.footer .container {
  max-width: 1200px;
}

.footer p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #171717;
}

.footer a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.footer .footer_inner {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer .btn_group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer .btn_group a {
  text-decoration: none;
}

.footer button {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer .violet_btn {
  background: #5E51DE;
  border: 1px solid #35255C;
  border-radius: 8px;
  padding: 8px 16px;
  color: #FFFFFF;
}

.footer .warning_btn {
  background: #E7B43E;
  border: 1px solid #E7B43E;
  border-radius: 8px;
  padding: 8px 16px;
  color: #35255C;
}

@media screen and (max-width:991px) {
  .virtual_agent {
    width: 100%;
    right: 20px;
  }

  .conversation .input_field {
    bottom: 50px;
  }

  /* 
  .footer .footer_inner,
  .footer .btn_group {
    flex-direction: column;
  } */

  .footer .btn_group {
    gap: 10px;
  }

  .footer .footer_inner {
    gap: 10px;
  }
}

@media screen and (max-width:768px) {
  .virtual_agent {
    height: 100%;
    width: 100%;
  }

  .header .header_buttons,
  .footer .footer_inner,
  .footer .btn_group {
    flex-direction: column;
  }

  .conversation .input_field {
    bottom: 136px;
  }


}